.tela-total{
    height: 100%;
  }

.header .titulo {
    font-size: 44px;
    color: #272727;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    margin: 0 0 20px;
    text-align: center;

}

.topicos{
  text-align: center;
}

body {
    padding-top: 100px;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #64686d;
    line-height: 26px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #272727;
}

/***********************
********* Footer ******
************************/

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    background: #2e2e2e;
}

#footer a {
    color: #fff;
}

#footer a:hover {
    color: #45aed6;
}

#footer ul {
    list-style: none;
    padding: 0;
    margin: 0 -7.5px;
}

#footer ul>li {
    display: inline-block;
    margin: 0 7.5px;
}

@media only screen and (min-width: 768px) {
    #footer .social-icons {
        float: right;
    }
}

.form-control {
    box-shadow: none;
    -webkit-box-shadow: none;
}


.borda-imagem{
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
  border: 1px solid gray;
}
.imagem{
    width: 100%;
}

/* WHATSAPP FIXO */
.whatsapp-fixo {
position: fixed;
bottom:10px;
right:10px;
z-index: 999;
}
